table {
  border-spacing: 0;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

td {
  vertical-align: middle;
  text-align: center;
  /*border: thin red solid;*/
}

.lines {
  min-width: 10px;
}

.image-container {
  padding: 0 2px;
  width: 48px;
}

.bottom {
  border-bottom: solid;
}

.top {
  border-top: solid;
}

.left {
  border-left: solid;
}

.right {
  border-right: solid;
}

img {
  width: 48px;
  height: 48px;
}

html, body, #chooser {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#chooser {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#chooser-left, #chooser-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#chooser-left {
  left: 0;
}

#chooser-right {
  right: 0;
}

#chooser-clear {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.chooser-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 28pt;
  background-color: white;
}
